@model convenience_payments.Models.OlpsOnlineTradeD

@{
    ViewData["Title"] = "代收查詢";
}

<style>
    .error {
        /* 當格式錯誤時，則新增此類別 */
        border-color: red !important
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
    {
        <p>
            <label>日期</label>
            <select asp-items="@ViewBag.Year" name="SelectList_Y" id="SelectList_Y"></select>
            <label>年</label>
            <select asp-items="@ViewBag.Month" name="SelectList_M" id="SelectList_M"></select>
            <label>月</label>
            <select asp-items="@ViewBag.Day" name="SelectList_D" id="SelectList_D"></select>
            <label>日</label>

        </p>
        <p>
            <label style="color:red">
                測試查詢使用 2019
                , 03
                , 05
            </label>
        </p>
        <p>
            目前可查詢的繳費日期 @ViewBag.FullDateTimeString
        </p>
        <p>
            <label>機號</label>
            @*<input id="MachineNum" name="MachineNum" type="text" minlength="2" , maxlength="2" required aria-required="true" class="is-valid" aria-invalid="false" />
            <label id="cname-error" class="error" for=" cname" style="display: none;">請輸入兩個數字</label>*@
            <input  id="MachineNum" name="MachineNum" type="text" maxlength="2" required/>
            <label style="color:red">(01)</label>
        </p>
        <p>
            <label>序號</label>
            @*@Html.TextBox("SerialNum", "000002", new { id = "SerialNum" })*@
            <input id="SerialNum" name="SerialNum" type="text" maxlength="6" required />
            <label style="color:red">(000002)</label>
        </p>
        <p>
            <label>店號</label>
            <input type="text" name="StoreNum" id="StoreNum" maxlength="6" required />
            <label style="color:red">(188108)</label>
        </p>

        <p>
            備註
            <ol type="1">
                <li>
                    查詢繳款費狀況時，請攜帶收據
                </li>
                <li>
                    服務專線：0800-xxx-xxx
                </li>
            </ol>
        </p>

        <p>
            如有疑問，請於服務時間與xx連絡。<br />
            服務時間：09:00~18:00(週一至週五)<br />
            服務電話：0800-xxx-xxx<br />
        </p>

        <p>
            @*<a asp-controller="Home" asp-action="Privacy" onclick="GetSearchString()">查詢</a>*@
            @*<input type="submit" value="Search" onclick="GetSearchString()" />*@
            <input type="submit" value="Search" id="SearchBtn" />
        </p>
    }


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>



<script>
    function GetSearchString() {

        var Y = document.getElementById("SelectList_Y");
        var Ystr = Y.options[Y.selectedIndex].value;

        var M = document.getElementById("SelectList_M");
        var Mstr = M.options[M.selectedIndex].value;

        var D = document.getElementById("SelectList_D");
        var Dstr = D.options[D.selectedIndex].value;

        var MachineNo = document.getElementById("MachineNum").value;
        var SerialNo = document.getElementById("SerialNum").value;
        var StoreNo = document.getElementById("StoreNum").value;

        //alert("頁面串起來的 termino : " + Ystr + Mstr + Dstr + StoreNo + MachineNo + SerialNo);
        //ViewBag.SearchString = Ystr + Mstr + Dstr + StoreNo + MachineNo + SerialNo;
    }

</script>

<script>
    $("#myForm").validate({
        rules: {
            SerialNum: { required: true, number: true, minlength: 6 },
            MachineNum: { required: true, number: true, minlength: 2 },
            StoreNum: { required: true, number: true, minlength: 6 }
        },
        messages: {
            SerialNum: "請輸入6碼數字",
            MachineNum: "請輸入2碼數字",
            StoreNum: "請輸入6碼數字"
        },
        submitHandler: function (form) {
            alert("確認查詢!");
            form.submit();
        }
    });
</script>